*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	color: white;
}

.logs_link {
	position: absolute;
	top: 1%;
	right: 0;
	margin-right: 10%;
	text-decoration: none !important;
	color: #ddd;
}

div#container {
	position: absolute;
	width: 90%;
	height: 100%;
	margin-left: 5%;
	background: rgba(0, 0, 0, 0.5);
}

div#nojobs {
	text-align: center;
}

.logs_link:visited, .logs_link:link {
	color: #ddd !important;
}

.logs_link:hover {
	color: #eee !important;
}

.jobid {
    width: 10%;
    text-align: center;
    border-right: solid 1px #444;
}

.title {
    width: 30%;
    border-left: solid 1px #444;
    border-right: solid 1px #444;
    padding-left: 2%;
    padding-right: 2%;
}

.pages {
    width: 15%;
    text-align: center;
    border-left: solid 1px #444;
    border-right: solid 1px #444;
}

.price {
    width: 15%;
    text-align: center;
    border-left: solid 1px #444;
    border-right: solid 1px #444;
}


.resumeLink {
    width: 15%;
    text-align: center;
    border-left: solid 1px #444;
}

.cancelLink {
	width: 15%;
	text-align: center;
}

.resumeLink a, .cancelLink a {
	text-decoration: none;
}

.resumeLink a:hover, .resumeLink a:visited, .resumeLink a:link,
.cancelLink a:hover, .cancelLink a:visited, .cancelLink a:link {
	color: #00aa00;
}

.resumeCancel {
	text-align: center;
}

table#jobs {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 1%;
    border-collapse: collapse;
}

table#jobs td, table#jobs th {
    padding-top: .3em;
    padding-bottom: .3em;
}

table#jobs tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.6);
}

table#jobs tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.55);
}

p.version {
	position: absolute;
	top: 95%;
	color: #bbb;
	margin-right: 10%;
	right: 0;
}

/* ul#jobs li:first-child */
