*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
}

.jobid {
    width: 10%;
    text-align: center;
    border-right: solid 1px #aaa;
}

.title {
    width: 40%;
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
    padding-left: 2%;
    padding-right: 2%;
}

.pages {
    width: 20%;
    text-align: center;
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
}

.resumeLink {
    width: 15%;
    text-align: center;
    border-left: solid 1px #aaa;
}

.cancelLink {
    width: 15%;
    text-align: center;
}

.resumeLink a, .cancelLink a {
    text-decoration: none;
}

.resumeLink a:hover, .resumeLink a:visited, .resumeLink a:link,
.cancelLink a:hover, .cancelLink a:visited, .cancelLink a:link {
    color: #00aa00;
}

.resumeCancel {
    text-align: center;
}

table#jobs {
    position: relative;
    width: 80%;
    left: 10%;
    border-collapse: collapse;
}

table#jobs tr:nth-child(odd) {
    background-color: #eee;
}

table#jobs tr:nth-child(even) {
    background-color: #ddd
}

/* ul#jobs li:first-child */
